.grid-container {
    background: rgb(148,168,222);
    background: linear-gradient(270deg, rgba(148,168,222,1) 40%, rgba(35,71,170,0) 100%);
    border-radius: 20px;
    margin-top: 15px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding: 10px;
}

.header-navigation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-self: center;
    justify-self: center;
}

body {
    background: #ffff;
    font-size: 14px;
    font-family: "Playfair Display", sans-serif;
    color: #405b7e;
}

h1 {
    font-size: 20px;
    margin-left: 15px;
    text-align: center;
}

h2 {
    font-size: 18px;
    margin-left: 15px;
}

h3, h4, h5 { 
    font-size: 16px;
    margin-left: 15px;
}

.contact-form {
    display: grid;
    gap: 5px;
    padding: 20px;
}