.grid-container {
    background: rgb(185,56,185);
    background: radial-gradient(circle, rgba(185,56,185,0.6068802521008403) 0%, rgba(35,71,170,0.6881127450980392) 74%);
    border-radius: 20px;
    margin-top: 15px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding: 10px;
}

.header-navigation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #ffff;
    border-radius: 20px;
}

body {
    background: #ffff;
    font-size: 14px;
    font-family: "Playfair Display", sans-serif;
    color: beige;
}

h1 {
    font-size: 20px;
    color: #ffff;
    margin-left: 15px;
    text-align: center;
}

h2 {
    font-size: 18px;
    color: #ffff;
    margin-left: 15px;
}

h3, h4, h5 { 
    font-size: 16px;
    color: #ffff;
    margin-left: 15px;
}

.contact-form {
    display: grid;
    gap: 5px;
    padding: 20px;
}