.container {
    background: rgb(185,56,185);
    background: linear-gradient(90deg, rgba(185,56,185,1) 35%, rgba(35,71,170,1) 74%);
    border-radius: 20px;
    margin-top: 15px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding: 10px;
}

body {
    background: rgb(177,185,56);
    background: radial-gradient(circle, rgba(177,185,56,1) 50%, rgba(13,122,91,1) 100%);
    font-size: 14px;
    font-family: "Playfair Display", sans-serif;
    color: beige;
}

h1 {
    font-size: 20px;
    color: whitesmoke;
    margin-left: 15px;
}

h2 {
    font-size: 18px;
    color: whitesmoke;
    margin-left: 15px;
}

h3, h4, h5 { 
    font-size: 16px;
    color: whitesmoke;
    margin-left: 15px;
}

input, textarea { 
    display: block;
    margin: 10px;
}